@import "./spider";



.main {
	position: relative;
	top: 0;
	left: 0;

	&__scrollbar {
		display: none;
	}

	@media (min-width: 1024px) {
		&__container{
			overflow-y: auto;
			height: 100vh;
		}


		&__container::-webkit-scrollbar {
			display: none;
		}


		&__scrollbar {
			display: block;
			position: absolute;
			top: 100px;
			right: 0;
			height: 100vh;
		}


		&__scrollbar-track {
			height: 100%;
			position: relative;
			top: 0;
			left: 0;
		}


		// &__scrollbar-thumb {
			
		// 	background-color: #000;
		// 	width: 10px;
		// 	height: 10px;position: absolute;
		// 	top: 0px;
		// 	right: 0;
		// }
	}
}