.spider {
	position: relative;
	display: inline-block;
	top: 100px;
	left: -40%;
	animation: swing 2s infinite;
	transform-origin: top;
	transition: 1s ease-in-out;
}

.spiderweb{
	position: relative;
}

.spiderweb::before{
	content: "";
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	top: -42%;
	left: -8.5px;
	background-color: #880000;
}

.spider .spiderweb {
	width: 2px;
	height: 50px;
	margin-left: 30px;
	background: #880000;
	transition: all .4s ease;
}

.spiderweb.enscrolled{
	height: 100px;
	animation: rotation_spider, spiderweb 2s infinite;
}

.spider .body {
	width: 60px;
	height: 60px;
	background: #880000;
	position: relative;
	border-radius: 50%;
}

.body.enscrolled {
	animation: spiderweb 2s infinite;
}

.mouth{
	transform: translate(100%, 45px);
	width: 20px;
	height: 9px;
	border-radius: 7px 7px 20px 20px;
	top: 250px;
	left: 90px;
	background-color: #380101;
	z-index: 10;
}

.body.enscrolled .mouth{
	transition: all 3s ease;
	border-radius: 20px 20px 7px 7px ;
}

.body.enscrolled + .legs,
.body.enscrolled + .legs + .legs{
	animation: spiderweb 2s infinite;
}

.spider .body .eye {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 20px;
	background: #000000;
	border-radius: 50%;
}

.spider .body .eye.left {
	left: 15px;
}

.spider .body .eye.right {
	right: 15px;
}

.spider .body .eye:after {
	content: "*";
	background: #380101;
	width: 7px;
	height: 7px;
	display: block;
	margin: 55%;
	border-radius: 50%;
	animation: look 8s infinite;
}

.spider .legs .leg {
	width: 60px;
	height: 35px;
	margin-top: -20px;
	border: 5px solid transparent;
	border-top-color: #050505;
	box-shadow: 0 0 10px #880000;
	border-radius: 40px 40px 0 0;
}

.spider .legs {
	position: absolute;
	bottom: -10%;
	z-index: -1;
}

.spider .legs.left {
	left: -70%;
}

.spider .legs.right {
	right: -60%;
}


.legs.left .leg:nth-child(1) {
	transform: rotate(10deg);
	margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
	transform: rotate(-10deg);
	margin-left: -10px;
}


.legs.left .leg:nth-child(2) {
	transform: rotate(-20deg);
	margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
	transform: rotate(20deg);
	margin-left: -20px;
}


.legs.left .leg:nth-child(3) {
	transform: rotate(-50deg);
	margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
	transform: rotate(50deg);
	margin-left: -30px;
}

@keyframes look {

	0%,
	40%,
	100% {
		transform: translateX(0);
	}

	45%,
	95% {
		transform: translateX(-110%);
	}
}

@keyframes swing {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}
}

@keyframes spiderweb {
	50%{
		transform: scaleY(0.9);
	}

	100%{
		transform: scaleY(1);
	}
}

@keyframes rotation_spider {
	0%{
		transform: rotate(135deg);
	}

	25%{
		transform: rotate(90deg);
	}

	50%{
		transform: rotate(180deg);
	}

	70%{
		transform: rotate(215deg);
	}

	100%{
		transform: rotate(260deg);
	}
}