.main {

	// &__auction{
	// 	width: 100vw !important;
	// 	height: 100vh !important;
	// 	background-color: #fff;
	// 	z-index: -1;
	// }

	._ibg{
		position: relative;
		top: 0;
		right: 0;
		height: resize(660, 600);
		width: 100%;
		height: 100%;
	}

	&__auction-bg{
		position: absolute;
		top: 0;
		right: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		filter: brightness(0.5);
	}

	&__auction-image-box {}

	&__auction-body {}

	&__auction-left {}

	&__coming-soon-title {}

	&__auction-btn {}

	&__auction-right {}

	&__auction-clock-title {}

	&__auction-clock {}

	&__auction-clock-measure {}

	&__auction-clock-number {}

	&__auction-clock-measure-title {}
}