.main {

	&__detail-image-container{
		padding-bottom: 12rem !important;
	}

	&__detail-image-container > &__image-box:nth-child(n+6):nth-child(-n+9){
		@include breakpoint("mobile_L"){
			display: none;
		}
	}

	&__detail {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 8rem !important;
	}

	&__detail-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 320px;
		object-fit: cover;
	}

	&__detail-section {
		position: relative;
		z-index: 2;
		top: 15rem;
		left: 0;

		@include breakpoint("laptop"){
			top: 18rem;
		}

		@include breakpoint("tablet"){
			top: 22rem;
		}
	}

	&__detail-avatar-img{
		width: 12rem;
		height: 12rem;
		border-radius: 50%;
		@include breakpoint("mobile_L"){
			transform: translateX(calc(50% - 20px));
		}
	}
	
	&__detail-text-box {
		padding: resize(40, 30) 0;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__detail-text-top {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10rem;
		margin-bottom: 3rem;

		@include breakpoint("tablet"){
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 3rem;
		}
	}

	&__detail-title {
		font-size: resize(51, 28);
	}

	&__detail-buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 2rem;
		flex-wrap: wrap;
		@include breakpoint("tablet"){
			justify-content: flex-start;
		}
	}

	&__detail-button {
		flex: 0 1 18.6rem;

		@include breakpoint("tablet"){
			flex: 100%;
		}
	}

	&__detail-text-body {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		@include breakpoint("tablet"){
			flex: 0 1 100%;
		}
	}

	&__detail-achievements {
		width: 100%;
	}

	&__detail-achievement {
	}

	&__detail-achievement-result {
	}

	&__detail-achievement-description {
	}

	&__detail-bio {
	}

	&__detail-bio-title {
		color: #858584;
		font-family: $space-mono;
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 160%;
		text-transform: capitalize;
	}

	&__detail-bio-text {
		color: #fff;
		font-size: 2.2rem;
	}

	&__detail-follow::before{
		content: "+";
		display: inline-block;
		width: 2rem;
		height: 2rem;
		color: #A259FF;
		font-size: 2rem;
	}

	&__detail-tabs-list {
		margin: 2rem 0;
		border-top:1px solid #3B3B3B;
		border-bottom:1px solid #3B3B3B;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 7rem;
		gap: 2rem;
	}

	&__detail-tab-tem {
		color:#fff;
		text-align: center;
		font-family: $default-font-family;
		font-size: resize(22, 16);
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		gap: 1.6rem;
		position: relative;
		cursor: pointer;
	}

	&__detail-tab-tem::before{
		content: "";
		display: block;
		height: 2px;
		background-color: #3B3B3B;
		position: absolute;
		top:100%;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 400ms ease;
	}

	&__detail-tab-tem:hover::before{
		transition: all 400ms ease;
		visibility: visible;
		opacity: 1;
		width: calc(100% + 30px);

		@include breakpoint("mobile_L"){
			width: 100%;
		}
	}

	&__detail-result {
		color: #FFF;
		font-family: $space-mono;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		border-radius: 20px;
		background: #858584;
		padding: resize(10, 5) resize(30, 10);

		@include breakpoint("mobile_L"){
			display: none;
		}
	}
}
