$list-item-vertical-padding: 5px;

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: getColorByName("hd", "header-bg-color");
	padding: resize(15, 10) 0;
	z-index: 10;
	height: 100px;
	width: 100%;

	@include breakpoint("mobile_M"){
		// height: 5rem;
	}
	
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__logo_box {
		flex: 0 1 30%;
		display: flex;
		align-items: center;
		gap: resize(12, 7);
		@include breakpoint{
			flex: 1 1 auto;
		}
	}

	&__logo{
		font-size: resize(32, 16);
		color: getColorByName("hd", "website-logo-color");
	}

	&__title {
		color: getColorByName("hd", "header-title-color");
		font-size: resize(19, 14);
		font-family: $space-mono;
		line-height: 140%;
		text-transform: capitalize;
	}

	&__navigation {
		flex: 0 1 70%;
		@include breakpoint {
			position: fixed;
			top: 0;
			left: 0;
			width: 70%;
			height: 100%;
			visibility: hidden;
		}
	}

	&__navigation--active{
		@include breakpoint{
			transition: all .2s ease-in-out;
			visibility: visible;
			background-color: getColorByName("hd", "header-bg-color");
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__list{
		width: 100%;
	}
	
	&__list--active{
		transition: opacity .4s ease-in-out;
		width: 70%;
		height: 70%;
		@include breakpoint{
			padding: resize(20, 15);
			opacity: 1;
			visibility: visible;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: nowrap;
			gap: $list-item-vertical-padding + 5px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	

};

.burger {
	z-index: 2;
	display: none;
	cursor: pointer;
	@include breakpoint{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.4rem;
		height: 2.4rem;

		&__item{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 0.5rem;
			position: relative;
			top: 0;
			left: 0;
		}

		&__item--active{
			gap: 0;
	
			&::before,
			&::after {
				width: resize(12.75, 9);
			}
	
			&::before {
				transform: rotate(45deg);
				position: relative;
				top: .1rem;
				left: 0;
			}
	
			&::after {
				transform: rotate(-45deg);
				position: relative;
				bottom: 0;
				left: 0;
			}
		}

		&__second-line,
		&__item::before,
		&__item::after {
			content: "";
			display: inline-block;
			width: resize(12.75, 9);
			height: .1rem;
			background-color: #fff;
			transition: all .4s ease-in-out;
		};

		// according to the design
		// you can comment it if you do not need
		&__second-line--larger{
			width: resize(18, 15);
		}
		&__second-line--active{
			transform: scale(0);
		}
	}
}

