.main {
	&-section {
		max-width: getWidthOfContainer("discover-digital-container");
	};


	&-section:not(:first-child){
		margin: resize(80, 70) auto;
		@include breakpoint("tablet"){}
	}

	&-section:first-child{
		margin: resize(162, 130) auto 80px auto;
		@include breakpoint("laptop", 146){
			margin: resize(100, 85) auto 80px auto;
		}
	}

	&-title {
		@extend .main__discover-title;
		line-height: 120%;
		font-size: resize(38, 10);
	}

	&__discover {
		display: grid;
		align-items: flex-start;
		justify-content: space-between;
		grid-template-columns: repeat(2, 1fr);
		gap: resize(30, 20);
		@include breakpoint("laptop", 146){
			display: grid;
			grid-template-columns: repeat(1, 100%);
		}
	}


	&__text-box {
		flex: 0 1 resize(610, 450);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: resize(30, 20);
		overflow: hidden;
		@include breakpoint("mobile_M", 270){
			width: resize(330, 300);
		}
	}


	&__discover-title {
		font-family: $default-font-family;
		font-size: resize(67, 38);
		font-style: normal;
		font-weight: 600;
		line-height: 110%;
		text-transform: capitalize;
		color: getColorByName("mn", "main-title-color");
		@include breakpoint("laptop"){
			font-size: resize(38, 28);
		}
	}


	&__text {
		color: getColorByName("mn", "main-default-description-color");
		font-family: $default-font-family;
		font-size: resize(22, 18);
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		text-transform: capitalize;
	}

	&__achievements {
		display: flex;
		align-items: center;
		gap: resize(30, 20);
		@include breakpoint("laptop", 270){
			flex-wrap: wrap;
		}
	}


	&__achievement-item {
		width: resize(150, 130);
		@include breakpoint("laptop", 270px){
			width: resize(90, 70);
		}
	}


	&__achievement-result {
		color: getColorByName("mn", "main-result-color");
		font-family: $space-mono;
		font-size: resize(28, 20);
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
		text-transform: capitalize;
		@include breakpoint("laptop", 270px){
			font-size: resize(22, 16);
		}
	}
	

	&__image-box {
		max-width: 0 0 resize(510, 450);
		background-color: getColorByName("mn", "main-image-background-color");
		border-radius: 20px;
		@include breakpoint("laptop", 29px){
			width: 100%;
		};
	}

	&__image-container{
		width: 100%;
		height: 401px;
		@include breakpoint("laptop", 29px){
			min-width: 100%;
			height: 221px;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
	}


	&__image-title-box {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__discover-title-box{
		padding: resize(20, 15);
	}

	&__image-title{
		font-family: $default-font-family;
		font-size: resize(22, 18);
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		color: getColorByName("mn", "main-image-title-color");
		
	}


	&__image-author-box {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__image-author-name {
		color: getColorByName("mn", "main-author-name-color");
		font-family: $default-font-family;
		font-size: resize(16, 10);
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}
	
	&__image-author{
		width: 24px;
		height: 24px;
	}
}