.main {
	&__discover-text-box{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: resize(20, 15);
	}
	
	&__discover {
		display: grid;
		align-items: flex-start;
		justify-content: space-between;
		grid-template-columns: repeat(2, 1fr);
		gap: resize(30, 20);
		@include breakpoint("laptop", 146){
			display: grid;
			grid-template-columns: repeat(2, 50%);
		}
	}


	&__discover-title {
		font-family: $default-font-family;
		font-size: resize(67, 38);
		font-style: normal;
		font-weight: 600;
		line-height: 110%;
		text-transform: capitalize;
		color: getColorByName("mn", "main-title-color");
		@include breakpoint("laptop"){
			font-size: resize(38, 28);
		}
	}


	&__achievements {
		display: flex;
		align-items: center;
		gap: resize(30, 20);
		@include breakpoint("laptop", 270){
			flex-wrap: wrap;
		}
	}


	&__achievement-item {
		width: resize(150, 130);
		@include breakpoint("laptop", 270px){
			width: resize(90, 70);
		}
	}


	&__achievement-result {
		color: getColorByName("mn", "main-result-color");
		font-family: $space-mono;
		font-size: resize(28, 20);
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
		text-transform: capitalize;
		@include breakpoint("laptop", 270px){
			font-size: resize(22, 16);
		}
	}

	&__discover-title-box{
		padding: resize(20, 15);
	}

	&__discover-image-box{
		width: calc(100% + 10px);
	}
}