$breakpoints-size: (
	"mobile_S": 320.5px,
	"mobile_M": 375.5px,
	"mobile_L": 425.5px,
	"laptop": 1024.5px,
	"tablet": 768.5px,
);

@mixin breakpoint($device: "tablet", $additional_size: 0px){
	$max_width: map-get($breakpoints-size, $device);
	$max_width: $max_width + $additional_size;

	@media(max-width: $max-width) {
		@content
	}
};
