@import "./button_animation";

.navigation-button{
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: resize(15, 10);
	height: resize(50, 20);
	background: getColorByName("button", "button-base-bg-color");
	overflow: hidden;
	font-size: resize(16, 10);
}

.button-flexed{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	color: getColorByName("button", "button-font-color");
	width: 100%;
	padding: 50% 0;
}