@font-face {
	font-family: icomoon;
	font-display: swap;
	src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: SpaceMono;
	font-display: swap;
	src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff");
	font-weight: 700;
	font-style: normal;}
@font-face {
	font-family: SpaceMono;
	font-display: swap;
	src: url("../fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/SpaceMono-Regular.woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff");
	font-weight: 600;
	font-style: normal;}
