@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');


*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	text-decoration: none;
	list-style: none;
	outline: none;
}

*:focus{
	outline: none;
	padding: 0;
	margin: 0;
}

*::selection{
	user-select: text;
	background-color: #007ffe70;
	color: #fff;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited,
a:focus{
	outline: none;
	text-decoration: none;
}

input, textarea, button{
	padding: 0;
}

html{
	font-size: $default-font-size;
	font-family: $default-font-family;
}

body{
	width: 100vw;
	height: 100vh;
	background-color: #000;
	
	@media (min-width: 1024px){
		overflow: hidden;
	}
}



body::-webkit-scrollbar{
	display: none;
}

body.lock{
	overflow-y: hidden;
}

.wrapper{
	width: 100%;
	height: 100%;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: $default-header-height $default-main-height $default-footer-height;
}

[class$="__container"]{
	max-width: getWidthOfContainer("base-container");
	margin: 0 auto;
	padding: 0 1rem;
}

.section-description {
	color: getColorByName("mn", "default-description-color");
	font-family: Work Sans;
	font-size: resize(23.95, 18);
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	text-transform: capitalize;

	@include breakpoint("laptop", 270px) {
		font-size: resize(16, 13);
	}

	color: $default-section-description-color;
}

.main{
	&-section {
		max-width: getWidthOfContainer("discover-digital-container");
	};

	&-section:not(:first-child) {
		margin: resize(80, 40) auto;
		padding: resize(80, 40) 0;
		@include breakpoint("tablet") {}
	}

	&-section:first-child {
		margin: resize(262, 130) auto 80px auto;
		
		@include breakpoint("laptop", 146) {
			margin: resize(100, 85) auto 80px auto;
		}
	}

	&-section-top{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	&-title {
		@extend .main__discover-title;
		line-height: 120%;
		font-size: resize(38, 10);
	}

	&-grid-container {
		display: grid;
		grid-auto-rows: 1fr;
		gap: resize(30, 20);
		justify-content: space-between;
		grid-template-columns: repeat(4, getWidthOfTheIImage(230));

		@include breakpoint("laptop", 429) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint("tablet") {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__image-grid-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		gap: 30px;
		justify-content: space-between;
	}

	&__text {
		color: getColorByName("mn", "main-default-description-color");
		font-family: $default-font-family;
		font-size: resize(22, 18);
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		text-transform: capitalize;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: resize(30, 20);
		overflow: hidden;

		@include breakpoint("mobile_M", 270) {
			width: resize(330, 300);
		}
	}
	
	&__image-box{
		height: auto;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		overflow: hidden;

		@include breakpoint("laptop", 29px) {
			width: 100%;
		};
	}

	&__image-box:not(:has(.main__trending-link)) {
		background-color: getColorByName("mn", "main-image-background-color");
	}
	
	&__image-container {
		width: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
	}


	&__image-title-box {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__image-title {
		font-family: $default-font-family;
		font-size: resize(22, 18);
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		color: getColorByName("mn", "main-image-title-color");

	}


	&__image-author-box {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__image-author-name {
		color: getColorByName("mn", "main-author-name-color");
		font-family: $default-font-family;
		font-size: resize(16, 10);
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}

	&__image-author {
		width: 24px;
		height: 24px;
	}

	&__text-box--lower-gap {
		gap: 10px;
		margin-bottom: 60px;

		@include breakpoint("tablet") {
			margin-bottom: 40px
		}
	}
}